html,body {

  font-size: 14px;


  font-weight: 300;


}
section{
  background-color: aquamarine;
}
.hero.is-success {

background-color: rgb(237, 241, 236);

}

input {

  font-weight: 300;

}

p {

  font-weight: 700;

}
h3{
  font-size: 50px;
  text-align: center;
}
label{
  font-style: normal;

  font-size: 20px;
}
.titulo{
  font-size: 25px;
}

.botao{
  width: 200px;
  height: 80px;
  background-color: blue;
  margin-left: 50px;
  font-style: oblique;
  font-size:x-large;
}
.erro{
  position: absolute;
  width: 600px;
  height: 50px;
  left: 10px;
  top:2px;
}
.menu{
  margin-top:50px;
}
.borda{
  position:relative;
  background-color: beige;
  width: 500px;
  height: 500px;
  padding-top: 50px;
  padding-left: 150px;
}
.login{
  margin-top: 10px;
  background-color: bisque;  
  width: 500px;
  height: 50px;
  text-align: center;
}
.teste{
  float: right;
}